@use '../../styles/variables'
@use '../../styles/mixins'

.projects-container
    max-width: variables.$standard-container
    margin: 0 auto
    .projects-wrapper
        .projects-title
            font-size: 40px
            font-weight: bold
            text-align: center

        .projects-text
            margin: 0 auto
            padding: 20px 0
            max-width: 500px
            text-align: center

        .projects
            width: 100%
            display: grid
            grid-template-columns: repeat(3, 1fr)
            gap: 15px

@media (max-width: 768px)
    .projects-container
        padding: 0 0.75rem 50px
        .projects-wrapper
            .projects-title
                font-size: 40px
                font-weight: bold
                text-align: left

            .projects-text
                text-align: left
            .projects
                max-width: variables.$standard-container
                margin: 0 auto
                width: 100%
                display: flex
                overflow-x: auto
