@use '../../styles/variables'
@use '../../styles/mixins'

.card-container
    border: 1px solid variables.$secundary-color
    border-radius: 4px
    cursor: pointer
    background-color: variables.$secundary-color
    text-decoration: none

    .card-image
        img
            border-radius: 4px
            width: 100%
            transition: 0.3s linear

    .card-wrapper
        backdrop-filter: blur(5px)
        margin: 0 20px
        padding: 20px 20px
        border-radius: 4px
        transform: translateY(-50px)
        transition: 0.3s linear
        box-shadow: 0 7px 10px rgba(0, 0, 0, 0.1)

        .card-title
            font-size: 15px
            color: #000
        .card-text
            display: block
            width: 100%
            color: variables.$primary-color
            font-size: 14px
            font-style: italic
            margin-top: 10px

    &:hover
        .card-image
            img
                transform: translateY(10px)
        .card-wrapper
            transform: translateY(-60px)
