@use '../../styles/variables'
@use '../../styles/mixins'

.card-content
    border-top: 6px solid variables.$primary-color
    border-radius: 4px
    cursor: pointer
    text-decoration: none
    position: relative
    display: block
    .background-hover
        transition: .5s
    .card-image
        display: flex
        justify-content: center
        align-items: center
        overflow: hidden
        img
            width: 100%
            object-fit: contain
            height: auto
    .card-wrapper
        position: absolute
        left: 50%
        top: 50%
        transform: translate(-50%, -50%)
        z-index: -1
        text-align: center
        .card-title
            font-size: 24px
            color: variables.$secundary-color
        .access
            font-size: 20px
            color: variables.$secundary-color
            text-decoration: none
        .card-text
            font-size: 18px
            color: variables.$secundary-color

    &:hover
        .background-hover
            background: rgba(30,57,85,0.75)
            position: absolute
            top: 0
            bottom: 0
            left: 0
            right: 0
            transition: .5s
            z-index: 9
        .card-image
            img
                transform: scale(1.2)
                transition: .5s
        .card-wrapper
            z-index: 10

@media (max-width: 768px)
    .card-content
        .card-image
            img
                width: 300px
                max-width: 400px
        .card-wrapper
            backdrop-filter: blur(5px)
            margin: 0 20px
            padding: 20px 20px
            border-radius: 4px
            transform: translateY(-50px)
            transition: 0.3s linear
            box-shadow: 0 7px 10px rgba(0, 0, 0, 0.1)

        &:hover
            .card-image
                img
                    transform: translateY(0)
            .card-wrapper
                transform: translateY(-50px)
