@use '../../styles/variables'
@use '../../styles/mixins'

.card-container
    width: 50%
    padding: 3rem

    .card-image
        img
            border: 1px solid variables.$secundary-color
            border-radius: 4px
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1)
            width: 100%
