@use '../../styles/variables'
@use '../../styles/mixins'

.button
    display: inline-flex
    align-items: center
    gap: 5px
    text-decoration: none
    padding: .38rem
    border-radius: 4px
    font-weight: bold

.instagram,
.email
    border: 1px solid variables.$primary-color
    background-color: variables.$primary-color
    color: variables.$secundary-color

    &:hover
        border: 1px solid variables.$secundary-color
        background-color: transparent

.github,
.linkedin
    background-color: variables.$additional-color
    border: 1px solid variables.$additional-color
    color: variables.$secundary-color

    &:hover
        border: 1px solid variables.$secundary-color
        background-color: transparent

.project-button
    border-radius: 4px
    color: variables.$primary-color
    display: inline-block
    padding: 10px
    text-decoration: none
    justify-content: flex-end
    cursor: pointer
    width: 100%
    text-align: end
