@use '../../styles/variables'
@use '../../styles/mixins'

.technologies-container
    width: 100%
    .technologies-wrapper
        max-width: variables.$standard-container
        margin: 0 auto
        width: 100%

        .technologies-title
            color: variables.$primary-color
            font-size: 4rem
            font-weight: bold
            padding: 3rem 0
            text-align: center

        .technologies-content
            display: flex
            gap: 2.5rem
