@use '../../styles/variables'
@use '../../styles/mixins'

.technologies-container
    width: 100%
    .technologies-wrapper
        max-width: variables.$standard-container
        margin: 0 auto
        width: 100%
        display: flex
        gap: 2.5rem
        padding: 3rem 0

        .technologies-col-1
            width: 50%

            .technologies-title
                font-size: 40px

        .technologies-col-2
            width: 50%
            display: grid
            grid-template-columns: 1fr 1fr
            gap: 30px
