@use '../../styles/variables'
@use '../../styles/mixins'

#main-content
    background-color: variables.$primary-color
    width: 100%

.main-wrapper
    display: flex
    max-width: variables.$standard-container
    margin: 0 auto
    width: 100%
    .col-1
        width: 50%
        padding: 3rem
        display: flex
        flex-direction: column
        justify-content: center

        .title
            color: variables.$secundary-color
            font-size: 4rem
            font-weight: bold

        .sub-title
            color: #fafafa
            font-size: 2rem
            font-weight: bold
            margin-top: 3rem
            max-width: 15rem

    .col-2
        width: 50%
        padding: 3rem
        display: flex
        justify-content: center
        align-items: center
        .content-image
            width: 100%
